        #willTrans{
            margin: auto;
            display: block;
            width: 80%;
            height: 70px;
            font-size: 18px
        }
        #submitTrans{
            margin: auto;
            margin-top: 10px;
            margin-bottom: 10px;
            display: block;
            width: 80%;
            height: 30px;
            font-size: 18px;
            background-color: #99edf7;
        }
        #transResult{
            margin: auto;
            margin-top: 10px;
            display: block;
            width: 80%;
            height: 30px;
            font-size: 18px;
            background-color: #99edf7;
            border: 2px;
        }
        #showTransResult{
            margin: auto;
            display: block;
            width: 80%;
            height: 70px;
            font-size: 18px
        }